[2017-03-16 16:58] chrisrhayes opened #1 "Setup"
- [x] Clone existing repo.
- [x] Check it out.
- [x] Build and run the existing plugin
- [x] Plugin SDK is installed but needs building
- [x] Get full build running via Gradle
- [x] Get plugin build and execute working in IDE sandbox

[2017-03-16 17:00] chrisrhayes opened #2 "Create CI/Build pipeline"
- [x] Analyse existing Travis build capability
- [x] Select CI tool
- [x] Configure build tool
- [ ] Configure docker image

[2017-03-16 17:03] chrisrhayes opened #3 "Design debugger UI components to configure connection details for debugging"
UI component already exists. Extend it to add fields to specify MarkLogic debugger connection details.

[2017-03-16 17:05] chrisrhayes opened #4 "b- Invoke modules by URI, with optional external variables"

[2017-03-16 17:05] chrisrhayes opened #5 "c- Invoke individual functions in library modules, with parameter values"

[2017-03-16 17:05] chrisrhayes opened #6 "a- Eval code from edit buffers (or selections) with optional external variables"

[2017-03-16 17:05] chrisrhayes opened #7 "d- Invoke REST endpoints, with payloads, and capture responses"

[2017-03-16 17:05] chrisrhayes opened #8 "Provide several ways to invoke and trace code, and capture output"

[2017-03-16 17:10] chrisrhayes opened #9 "IDE & ML Debugger API comms module"
Develop a module for communicating between the IDE and the MarkLogic Debugger API, keeping it as generic as possible to promote re-use in other contexts.

Abstract ML API endpoints

[2017-03-16 17:11] chrisrhayes opened #10 "Set and Activate Breakpoints in source code"
Use the IntelliJ Debugger hooks into the IDE editor to set and activate breakpoints in the source

[2017-03-16 17:12] chrisrhayes opened #11 "Provide in-IDE popup documentation for XQuery API functions and parameters"

[2017-03-16 17:13] chrisrhayes opened #12 "Design UI components to run XRay unit tests"
- [ ] Config window to indicate which tests/mode are run
- [ ] Invoke X-ray tests
- [ ] Evaluate other XQuery test framework

[2017-03-16 17:27] chrisrhayes opened #13 "Develop UI components to run queries in several ways"

[2017-03-17 10:21] chrisrhayes opened #14 "Contact the owner of the original github repo"
Grzegorz Ligas

https://github.com/ligasgr/intellij-xquery
http://grzegorzligas.blogspot.co.uk/

Submit a Pull Request as of commit `4cba7b30de0faf22450ed7187595a459559a1548`, which includes the Quick Documentation enhancements.

[2017-03-18 03:08] ronhitchens commented on #1
Our repo was forked from [the ligasgr plugin](https://github.com/ligasgr/intellij-xquery) at commit bd1777c, which is broken, at least for the run configuration stuff.  If I checkout the from the latest release (3.2.0) then it works ok.  I'm going to branch off from that point to begin work until  I can fix the problems or until upstream fixes are made.

[2017-03-18 03:16] ronhitchens commented on #1
The  [ligasgr plugin](https://github.com/ligasgr/intellij-xquery) has a proper Gradle build setup which runs automated tests.  That's good for CI and release packaging, but it's very tedious to develop a plugin by waiting for a Gradle build and then loading the plugin manually.  IntelliJ has a plugin development mode for quickly testing plugins, but the project must be created as a plugin dev proj

[2017-03-20 03:53] ronhitchens commented on #11
This is done so far as bringing the function pop-up doc code into the new plugin and displaying the API docs.  It has been enhanced as well to include more fields and better formatting.

However, the XML file from which it's driven is quite old (ML 5.x).  Creating another ticket for updating the IDE function docs from a newer version (8.x) of the ML docs).

[2017-03-20 04:03] ronhitchens opened #15 "Update pop-up API docs from latest ML doc snapshot"
A zip file of the full MarkLogic documentation set is available at from the [documentation section](https://docs.marklogic.com) of the MarkLogic developer website.

We have code in the older plugin that will generate the needed XML from screen-scraping the ML developer website.  This is no longer necessary now that the docs are pre-bundled as a zip file.  That code needs to be adapted process the

[2017-03-20 04:10] ronhitchens opened #16 "Determine why Run/Debug DataSource UI component do not bind properly in the Plugin Sandbox"
When running the plugin in the IntelliJ development sandbox the UI components for defining an XQuery Data Source do not (usually) bind properly at startup, which causes a null-pointer exception that effectively disables that functionality.  Getting this working is essential to making progress on the debugger functionality.  Other code in the plugin works as expected.  Further investigation is need

[2017-03-20 21:18] ronhitchens opened #17 "Create test XQuery project and add to GitHub"
Need a test IntelliJ project with various XQuery code to test of the various features of the plugin.

[2017-03-20 21:21] ronhitchens commented on #17
This has been created as [test-xquery-projject](https://github.com/overstory/test-xquery-project).

[2017-03-20 21:25] ronhitchens commented on #1
Considering this done.  It's in sufficient shape now to get underway with development.  Some work still needs to be done for CI but there is a separate ticket for that already.  Moving this one on.

[2017-03-22 00:35] ronhitchens commented on #15
This is completed.  Added a Gradle task (`downloadMlDocs`) which will download the current MarkLogic documentation bundle zip file and drop it into build/mldocs.

However, this Gradle task is not for standard build use.  A manual step is required to run the class `org.intellij.xquery.documentation.MarkLogicFunctionsExtractor` which will generate the XML file needed by the Quick Documentation (pop-

[2017-03-22 00:46] ronhitchens commented on #11
This is complete now, and Issue #15 has been completed so that the latest MarkLogic 8 documentation is available in the plugin.

This can be tested by installing the plugin and then opening a project with XQuery source files.  Find, or create, a reference to a MarkLogic-specific or W3C standard function.  This must be a function that is recognized by the plugin (not all MarkLogic 8 functions are,

[2017-03-22 01:26] ronhitchens opened #18 "Create UI to browse and select Quick Docs for any known API function, independent of cursor position"
This probably should be an add-on menu to popup a text box which will auto-complete from known function names.

Need to:

- [ ] Research best way to present this
- [ ] Determine best way to hook into the IntelliJ APIs to do auto-complete, etc
- [ ] Determine how to pop the Quick Doc dialog independently of the Editor

This is a low priority task, since it is out of scope for the initial requiremen

[2017-04-01 15:19] ronhitchens commented on #14
[Pull Request 213](https://github.com/ligasgr/intellij-xquery/pull/213) sent as of commit `f904311bb9fa47f22f27ebe72e067a0b4832d091` in our repo.

I've also emailed Grzegorz Ligas at ligasgr@gmail.com to tell him what we're doing.

[2017-04-01 15:20] #14 closed, assigned to nobody

[2017-04-01 19:30] ronhitchens commented on #2
I looked into this a bit and determined that the Travis build tool, which is similar to shippable.com, is free to use for open source projects.  So I registered with it so that it now runs on each commit and updates the badge on the project home page.  More info at [travis-ci.org](https://travis-ci.org/).

Currently the minimum integration is in place, and the automated tests from the original rep

[2017-04-01 19:42] ronhitchens opened #19 "Setup notifications from travis-ci build to slack"
Details [here](https://docs.travis-ci.com/user/notifications/#Configuring-slack-notifications)

[2017-04-10 11:21] ligasgr commented on #1
Please have a look on http://ligasgr.github.io/intellij-xquery/collaboration.html
This page has a step where you generate the idea project with modules which allows you to skip manual creation etc. And the created project is a valid Idea Plugin Development project.

[2017-04-12 22:48] ronhitchens commented on #1
Thanks Grzegorz.  I had done all everything as per your docs but somehow I wound up setting the Project SDK back to the standard Java 8 SDK.  It's all working smoothly now.  It's been several years since I worked on an IntelliJ plugin, otherwise I would have noticed my mistake.

Thanks again.

[2017-04-12 22:51] ronhitchens commented on #16
This is resolved now.  Turns out to have been an incorrect SDK setting (plugin development requires a special SDK, not the standard one.  See Issue #1 for details.

[2017-04-12 23:16] ronhitchens commented on #3
This is done and pushed.  Added optional connection details form fields for MarkLogic debugger connection.  Information entered is persisted and retrieved ok.  No code is using the new information yet.

The new fields (currently) only appear on the "MarkLogic (native)" connection type.  It will be added to the "plain" MarkLogic connection type (which uses XQJ) in the future.  For the moment, this

[2017-04-15 22:35] ronhitchens commented on #10
Considering this complete.  Much of the work for this was already in place in Grzegorz's code.  I've added additional code for MarkLogic debugging and all the entry points are being called as expected.  Most of the remaining work will be Issue #9, the interaction with the MarkLogic debugger APIs.

This code is currently on a branch and will be merged when more code is in place.

[2017-04-15 22:45] ronhitchens opened #20 "Add capability to Run/Debug XQuery files from context pop-up menu"
Need to add context menu items to run/debug an XQuery files by creating a temporary Run Configuration.  Currently, XQuery files can only be run/debugged by explicitly creating a Run Configuration.

[2017-04-25 13:44] ronhitchens commented on #9
I'm going to consider this one done.  There is still a fair bit of work to do, but the MarkLogic-specific comms class is in place and being used by the code driven by the IDE.  Remaining changes will be refactorings to support the various operations needed by the various run modes, and fleshing out the functionality.

[2017-04-25 13:47] ronhitchens commented on #6
It will not be easy to evaluate code from highlighted selections in IntelliJ.  It operates on files, and breakpoints need to jump to a specific line in a specific file.  Running code selections will require some advanced stuff to create temporary files, or something.  Considering that to be out of scope for this story.

[2017-04-25 13:51] ronhitchens commented on #6
Much of this functionality (to submit an IntelliJ edit buffer/file) is already in place from the work done under the scope of Issue #9.  This story will now be used for finishing out the many remaining issues such as step in/step out/step over, display of variables and values, etc.

Issue #20 will be related to this as well, to enable more convenient running of individual XQuery main module files.

[2017-04-27 00:49] ronhitchens commented on #6
This is mostly working reliably now.  Refinements still needed to run/step protocol.  Variables, both global/external and stack-resident, are showing reliably, including type information.

At this point, only "eval" of a standalone main module are supported.  Invoking modules in the appserver root will be implemented in a subsequent story.

A bit more to do before completing this story.

[2017-04-27 03:18] ronhitchens opened #21 "MarkLogic-specific debug port UI panel appears on non-MarkLogic run config"
Some run config selections, such as Saxon (native), show the sub-panel that should only apply to MarkLogic run configs.  This is a enabled by an internal config table and should be hidden for all other config types.

[2017-04-29 13:34] ronhitchens commented on #6
- [x] Run out of current Expression
- [x] Step Over
- [x] Step Into
- [x] Step Out
- [x] Set breakpoints while running
- [x] Remove break points while running
- [x] Modify breakpoints while running
- [x] Clear suspended requests on exit - already does this on graceful exit.  no chance to cleanup when debugger Stop button pressed.  Will have to find a way to handle this later.  Any debug-stopped re

[2017-05-01 20:11] ronhitchens opened #22 "Add last line of expression to debug stack frames, set display line number to begin/end as appropriate"
The MarkLogic debug API breaks at both begin and end of expressions.  It would be far more intuitive for users to display the editor cursor on either the first or last line of an expression as appropriate, since expressions can span many lines to include subexpresisons.

The stack returned from dgb:stack only includes the first line of the expression.  But it should be possible programmatically to

[2017-05-02 03:52] ronhitchens commented on #6
Considering this one done.  Several edge cases still to be handled, but time to move on to dbg:invoke'ing of code in the appserver path.

[2017-05-02 03:56] ronhitchens opened #23 "XQuery execution errors do not stop the debugger"
When errors occur in XQuery code being debugged, the debugger UI does not always stop properly.  This is because errors from debugged requests are usually deferred and not detected unless the status of the request is checked.  This needs to be handled better in the main event loop.

[2017-05-03 03:52] ronhitchens commented on #23
Fixed this to report XQuery execution exceptions consistently.

Had to work around dbg:value() hanging indefinitely when trying to fetch values of undefined external variables.  Apparently this only happens after the request has hit a breakpoint, but it's unclear.  Worked around by requesting the full stack state immediately on request start.  That causes a scan for values of all global and extern

[2017-05-03 04:04] ronhitchens opened #24 "dbg:value() hangs indefinitely when called under some circumstances"
The MarkLogic Debugger API function may hang indefinitely when called when the request being debugged is not in the right state.  It is unclear what induces this behaviour.  It may be that the request is at a breakpoint, or that an XQuery error has occurred.  It is reproducible when debugging a request for which an external variable is undefined, but may apply to other XQuery errors as well.  This

[2017-05-04 15:00] #13 closed, assigned to ronhitchens

[2017-05-04 17:18] ronhitchens commented on #21
A decision to activate the MarkLogic-specific connection details UI panel was depending on the "can debug" flag.  This also caused that panel to activate for any datasource where this flag was true, which included Saxon.

A new flag was added specifically to control visibility of this panel and is only set in the MarkLogic type table.

[2017-05-05 15:46] ronhitchens opened #25 "Refactor Run Configuration for MarkLogic to select run mode"
Need to add UI elements to specify how the debugged request should be run.  There are, at this point, four scenarios that could be selected:

1. AdHoc - A single XQuery main module file in IntelliJ should be submitted via "dbg:eval" and run with no appserver dependency.  This will not allow for debugging through libraries unless the appserver is coincidentally configured so that the appserver root

[2017-05-05 15:47] ronhitchens commented on #4
This depends on #25.  Doing that first.

[2017-05-07 03:10] ronhitchens commented on #25
This is done.  Radio buttons and supporting fields for the four scenarios added to the Run Configuration when the Data Source is MarkLogic.

[2017-05-08 03:17] ronhitchens commented on #4
This is pretty much done now.  Modules can be invoked, and IntelliJ will follow through library modules.  This requires specifying where in the project source tree MarkLogic is pointing for its appserver root.  If the ML appserver root is not visible to IntelliJ, it's debugger will get lost when execution stops at a breakpoint.  That may be eventually fixable, but not now.

Still a little tidy up

[2017-05-08 03:31] ronhitchens opened #26 "dbg:value can only return values for expressions that are in scope for the top of the stack"
Calling dbg:value to fetch the values of global or external values that are not in scope for the top-of-stack function throws an exception.

For example, if the the main module body calls a function in the same file (ie, local:foo()), then when the stack is fetched with dbg:stack, the bottom stack frame lists the global and external variables in that module.  These can be retrieved fine with dbg:v

[2017-05-08 13:30] ronhitchens commented on #20
Turns out this is provided already.  This was probably not appearing before because the debugger run configurations were not fully working.

Moving this to QA, but not doing any work on it.

[2017-05-08 18:17] ronhitchens commented on #4
Calling this one complete.  Should work now for any main module in the MarkLogic appserver root path.

[2017-05-08 18:23] ronhitchens opened #27 "Pretty print / organize XQuery output"
Currently, XQuery output is serialized and written to IntelliJ's output console.

It would be useful to pretty-print or otherwise organize output, similar to the way QConsole does.  At a minimum it would be helpful to visually separate each item in the result sequence and format items according to their type.

It might also be useful to capture the output in a more rigorously formatted way, such a

[2017-05-09 16:16] ronhitchens opened #28 "Modify Gradle build to properly compile Groovy classes and build plugin zip file"
Part of the MarkLogic connection logic has been written in the Groovy language.  The default Gradle rules do not setup the compile rules and/or classpath setting to compile both languages together.  The code compiles in IntelliJ and runs fine, but not in the batch Gradle build.

IntelliJ has a "Prepare plugin for deployment" menu selection which produces a plugin zip file.  This zip file installs

[2017-05-09 20:37] ronhitchens commented on #28
This is working now.  The issue with plugin zip files created from the IntelliJ Build menu turned out to be that the sub-project (intellij-xquery-rt) was not being bundled into output zip file.  The Gradle rule that builds the zip file does include it.

Changed the Gradle source-set configuration to compile both Java and Groovy with the Groovy compiler, which let's them play happily together.

Wor

[2017-05-09 21:31] ronhitchens commented on #26
Upon reflection, this may be working as designed.  It turns out that the debug stack trace, at least in most cases, includes variable values inline.  Sometimes it doesn't which led me to writing code that uses dbg:value to populate stack traces.

I'm going to close this and will re-open it if needed in the future.

[2017-05-09 21:31] #26 closed, assigned to nobody

[2017-05-09 21:42] ronhitchens opened #29 "Allow selection of any XQuery expression on a line"
The MarkLogic debugger API breaks on expression IDs.  Any given source line may contain several expressions, and individual expressions can span multiple source lines.

The IntelliJ UI allows for setting a breakpoint on a line-basis only.  In some cases, re-arranging the source will allow for selecting the desired expression, but not always.

The current design sets a breakpoint on the last expres

[2017-05-09 21:49] ronhitchens commented on #22
Code is in place now to set the last line on the returned stack frames.  But the last line number is not being used yet, because the way breakpoints are currently set effectively defeats the purpose.  It is not usually practical to select expressions that wrap around other expressions across multiple lines.

I created Issue #29 to provide that capability.  Until then, I'm placing this in the Icebo

[2017-05-09 21:55] ronhitchens commented on #5
This may never get implemented.  To call a library function, a main module has to be submitted.  To use the IntelliJ debugger, it must reference a file that it is editing.  A file could be generated automatically and disposed of after running, but the user can create a simple main module just as easily to import a library module and have better control of it.  External variables can be passed in t

[2017-05-09 22:04] ronhitchens opened #30 "Enable run/debugging with the XQJ driver as well as with XCC"
The MarkLogic Debugger currently only work with the XCC-based Data Source, which is named "MarkLogic (native)".  The debugger should also be workable with the XQJ driver (named just "MarkLogic").  This will require a bit of refactoring, but should not be too difficult.

[2017-05-09 22:09] ronhitchens opened #31 "Fix automated Travis build"
The automated Travis build is brittle.  The SDK it downloads is subject to expiring as IntelliJ build numbers advance.  There are also several tests that fail under Travis that don't fail when run as a local Gradle build.

Some work needs to be done to make this build more robust and to drop a generated plugin file artifact.

[2017-05-09 22:11] ronhitchens opened #32 "Write more tests"
And fix the broken ones

[2017-05-09 22:13] ronhitchens opened #33 "Fix compile-time warnings from Gradle build"
A large number of warnings come out of the command line Gradle build.  Some of these are from generated code, but others could be corrected or suppressed.

[2017-05-10 01:14] ronhitchens commented on #33
Suppressed all reported warnings with annotations or replacing non-ascii characters with Unicode escapes.  There is still a generic warning about some deprecated APIs being used.  Not going to worry about that now.

[2017-05-11 00:40] ronhitchens opened #34 "Submit to the Jetbrains/IntelliJ plugin repository"
Determine requirements for publishing to the IntelliJ repo.

Determine process for submitting

Decide which build to publish.

[2017-05-11 13:19] ronhitchens opened #35 "Update bundled docs to MarkLogic 9.x"
The function API docs are extracted from MarkLogic's documentation bundle.  MarkLogic 9.0 has just been released.  Need to re-run the extraction to use the latest docs.

[2017-05-11 20:49] ronhitchens commented on #35
Downloaded and extracted API doc for MarkLogic 9 from MatkLogic developer site.  Extraction seems to have worked fine, no errors encountered.  Added a little code to check for new apidoc: tags that might appear in new releases.

Updated source with updated function API XML.

[2017-05-11 20:50] ronhitchens opened #36 "Test plugin against ML 9"
Provision a new Docker container to with ML 9 and make sure the debugger still work properly with it.

[2017-05-11 21:22] ronhitchens opened #37 "Add Help Dialog"
Need a popup dialog to provide contextual help

[2017-05-12 23:01] ronhitchens commented on #34
http://www.jetbrains.org/intellij/sdk/docs/basics/getting_started/publishing_plugin.html

[2017-05-13 00:32] ronhitchens commented on #37
This is in place now on the MarkLogic-specific part of the Run Configuration dialog.  This popup will probably be combined with other help topics and re-used in other contexts.

[2017-05-26 18:46] ronhitchens commented on #27
Code to pretty print XML is in place, but is unconditional.

Need to add some config UI to enable/disable pretty printing.  And to enable/disable separators and type annotations.

Moving this back to Backlog for now.

[2017-05-26 18:49] ronhitchens commented on #36
The connector seems to work ok with MarkLogic 9.  Have not yet verified if the problem reported in Issue #24 has been corrected.  The code works around that problem, so not addressing it now.  Considering this issue complete.

[2017-05-26 18:52] ronhitchens commented on #18
Some research is required to find the proper IntelliJ-provided Swing widgets to use for a search box and handlers for it.  Deferring this until higher-priority tasks are done.

[2017-05-26 18:53] ronhitchens commented on #7
Using this issue for the work related to Capture Appserver run mode.

[2017-05-29 00:30] ronhitchens opened #38 "Documentation Extractor does not fully filter out JavaScript document snippets"
The code that scrapes the API docs out of the MarkLogic documentation bundle is not excluding all the JavaScript variants embedded within text.  This is resulting in duplicate parameters and references in the text.  Most notably the doc page for ```xdmp:eval()```.

It also appears that at least some XML examples are not being preserved properly.

Low priority but needs to be fixed for launch.

[2017-05-29 00:37] ronhitchens opened #39 "XCC does not parse XQuery exceptions correctly"
The W3C exception code is not parsed and preserved correctly when an XQuery exception is returned by MarkLogic.  Due to what looks like logic errors in the code that parses the returned exception, the name of the last variable in the stack trace overwrites the name of the QName identifier passed to ```fn:error()``` on the Xquery side.

Will create a test case to reproduce later.  Leaving this here

[2017-05-29 19:41] ronhitchens commented on #7
This has been implemented.  Selecting Capture Appserver run mode, then starting the debugger will grab attach to the given appserver (either by name, appserver id or port number).  It will then await the next request to start on that appserver and it will be stopped for debugging.  If no request starts on the appserver with the configurable time limit (two minutes by default), then debugging is ca

[2017-06-01 01:57] ronhitchens opened #40 "Create UI and Run Mode to attach to and debug a currently running request"
Need a Run Mode that will allow selection of a running request and attach to it for debugging.

[2017-06-08 01:47] ronhitchens commented on #38
This is fixed and pushed.  Updated the extractor code that pulls the API docs out of the MarkLogic docs bundle to drop any element that has the "class" attribute set, but is not equal to ```xquery```.  Changed the Quick Docs HTML generation to re-escape markup chars (&, < and >) when parsing the XML for a function so that the HTML renders properly.

[2017-06-08 02:16] ronhitchens commented on #34
This has been submitted to the repository, but will take one or two days for moderation approval.

[2017-06-30 23:36] ronhitchens opened #41 "Groovy version clash"
If the current project uses Groovy libraries, either by directly declaring a dependency or if via transitive reference, and the version does not match the version of the library used by the plugin, then the debug process will throw an exception indicating that Groovy version do not match.

[2017-07-01 14:47] ronhitchens commented on #34
This has been approved and is available in-IDE now.

[2017-07-05 23:13] ronhitchens opened #42 "Cleanup stopped requests on MarkLogic when a debug session is terminated"
Because MarkLogic requests run out-of-process in MarkLogic, separate from the IntelliJ process under control of the debugger, and because MarkLogic requests are suspended in MarkLogic indefinitely, it is possible for requests to be orphaned in MarkLogic if the debugging session is stopped before completing normally.

A similar issue arises wth captured appservers if the session is killed before th

[2017-07-10 17:08] SoundBot opened #43 "default namespace"
Not sure if this issue was previously reported or not.

If you don't add any namespace prefix, the default namespace `fn:` is assumed. Hence, you can write something like `fn:concat(...)` or `concat(...)` and both will work just fine. The plugin gives me warning about the latter.

[2017-07-10 17:23] ronhitchens commented on #43
I believe this is a MarkLogic extension.  For people coming from the XSLT world, they are not used to adding the ```fn:``` prefix for the XML/XPath builtins.  In XQuery, the default (unless it's overridden) is ```local:``` for
main modules and whatever namespace you declare in the module declaration for library modules.

At some point MarkLogic added a check to see if the function you're declaring

[2017-07-10 17:32] ronhitchens commented on #31
The build succeeds wen run locally on my machine.  The Travis build sometimes succeeds and sometime fails, but the failures seem to be timing related.  The build works and all tests pass, but the brittle tests need to be tweaked to be more robust when timing is a factor.

[2017-07-10 18:17] ronhitchens opened #44 "Run Mode help files are not included in distribution jar file"
The HTML and CSS files needed for the Run Mode popup dialog are not being packaged in the distribution jar file.  They are present in the development sandbox, but not in the final distribution.

[2017-07-10 19:32] ronhitchens commented on #44
The Gradle sourceset rules for the top-level ```build.gradle```.  Were not including resource files in the source tree as expected (and as the IntelliJ compiler does).  This was leaving the source for some help files out of the distribution zip file.  Fixed now.

[2017-07-28 17:01] cschlegelmilch opened #45 "Debugger errors out when log4j is included in project dependencies"
Here is the error:

Failed to instantiate SLF4J LoggerFactory
Reported exception:
java.lang.NoClassDefFoundError: org/apache/log4j/or/RendererMap
	at org.apache.log4j.Hierarchy.<init>(Hierarchy.java:97)
	at org.apache.log4j.LogManager.<clinit>(LogManager.java:82)
	at org.slf4j.impl.Log4jLoggerFactory.<init>(Log4jLoggerFactory.java:66)
	at org.slf4j.impl.StaticLoggerBinder.<init>(StaticLoggerBinder

[2017-08-07 02:30] RobertSzkutak commented on #45
I see a similar (same?) issue with log4j. I'm using IntelliJ 2017.2.1 Community Edition on Windows. I can "run" a query just fine. However when I try to "debug" it all I receive is this message in the console:

[code]

I tried a handful of things but either faced the above error or this one.

[2017-08-11 13:32] SoundBot opened #46 "High memory usage"
Sometimes I'm observing an extremely high memory usage by IDEA. The Jetbrains support pointed to this plugin as the root cause. I suspect you have a memory leak somewhere.

Here is my memory snapshot: https://send.firefox.com/download/6b4199a8a5/#LdARN-eYr3IhM__dsNpa0w

[2017-12-27 11:43] millerbill3 opened #47 "Language Parser Does Not recognize property:: XPath Expression"
The plugin does not recognize the MarkLogic-specfic XPath expression that references a document's properties. I.e. $f/property::bar

[2017-12-27 20:04] ronhitchens commented on #47
Thanks for reporting this bug.  This MarkLogic plugin is forked from another, more generic XQuery plugin.  The current parser is unchanged from that plugin.  The "property" axis is a MarkLogic extension, but the parser is generated from the W3C XQuery BNF.  There are a few other variances in the grammar as well.

Making changes to the parser is a fairly heavyweight undertaking because it involves

[2018-01-09 03:44] rhys-67bricks commented on #43
It is very verbose to have to add `fn:` everywhere just to stop the plugin incorrectly showing it as an error. People familiar with XQuery with MarkLogic have no trouble distinguishing between `local:` and `fn:`. This is the main reason many of my colleagues are using an alternative plugin.

[2018-01-09 10:00] ronhitchens commented on #43
Rhys Parson wrote:

I've added a code inspection for this to be released shortly.  It will warn about missing `fn:` prefixes and, via the usual inspection options, give you the ability to add the missing prefixes or disable warnings about them.

[2018-02-12 23:57] ronhitchens commented on #44
This was corrected in corrected in 0.9.3-beta.

[2018-02-12 23:57] #44 closed, assigned to ronhitchens

[2018-02-13 00:01] ronhitchens commented on #42
This was addressed in version 0.9.1-beta.

[2018-02-13 00:01] #42 closed, assigned to ronhitchens

[2018-02-13 00:02] ronhitchens commented on #41
This was addressed in version 0.9.1-beta

[2018-02-13 00:02] #41 closed, assigned to ronhitchens

[2018-02-13 00:07] ronhitchens commented on #38
This was addressed in version 0.9.0-beta

[2018-02-13 00:07] #38 closed, assigned to ronhitchens

[2018-02-13 00:08] ronhitchens commented on #37
This was addressed in version 0.9.0-beta

[2018-02-13 00:08] #37 closed, assigned to ronhitchens

[2018-02-13 00:09] ronhitchens commented on #36
This has been tested, MarkLogic 9 works fine.

[2018-02-13 00:09] #36 closed, assigned to ronhitchens

[2018-02-13 00:10] ronhitchens commented on #35
This has been done.

[2018-02-13 00:10] #35 closed, assigned to ronhitchens

[2018-02-13 00:12] ronhitchens commented on #33
As of version 1.0.0, there are no compile time warnings and one Gradle deprecation warning.

[2018-02-13 00:12] #33 closed, assigned to ronhitchens

[2018-02-13 00:15] ronhitchens commented on #28
The compilation rules were tweaked a bit for 1.0.0 now that Groovy is bundled into the SDK.

[2018-02-13 00:15] #28 closed, assigned to ronhitchens

[2018-02-13 00:19] ronhitchens commented on #25
The first three of these modes are in place in version 1.0.0.  The fourth mode, grab running request, is still to be implemented.  This Issue should be closed and a new one created for the implementation of Grab Running Request.

[2018-02-13 00:22] ronhitchens commented on #23
Considering this as addressed as-of version 0.9.0-beta

[2018-02-13 00:22] #23 closed, assigned to ronhitchens

[2018-02-13 00:23] ronhitchens commented on #21
Addressed in version 0.9.0-beta

[2018-02-13 00:25] #21 closed, assigned to ronhitchens

[2018-02-13 00:25] ronhitchens commented on #20
Addressed in version 0.9.0-beta

[2018-02-13 00:25] #20 closed, assigned to ronhitchens

[2018-02-13 00:29] ronhitchens commented on #18
Implemented in version 1.0.0.  Not the ideal selection/filter dialog, but serviceable for now.

[2018-02-13 00:29] #17 closed, assigned to ronhitchens

[2018-02-13 00:30] #16 closed, assigned to ronhitchens

[2018-02-13 00:31] #15 closed, assigned to ronhitchens

[2018-02-13 00:32] ronhitchens commented on #11
This was addressed in version 0.9.0-beta

[2018-02-13 00:33] #11 closed, assigned to ronhitchens

[2018-02-13 00:33] #10 closed, assigned to ronhitchens

[2018-02-13 00:34] ronhitchens commented on #7
Addressed in version 0.9.0-beta

[2018-02-13 00:34] #7 closed, assigned to ronhitchens

[2018-02-13 00:35] #3 closed, assigned to ronhitchens

[2018-02-13 00:36] #5 closed, assigned to ronhitchens

[2018-02-13 00:37] ronhitchens commented on #4
Addressed in version 0.9.0-beta

[2018-02-13 00:37] #4 closed, assigned to ronhitchens

[2018-02-13 00:39] ronhitchens commented on #6
Addressed in version 0.9.0-beta

[2018-02-13 00:39] #6 closed, assigned to ronhitchens

[2018-02-13 00:41] ronhitchens commented on #8
This Epic was effectively complete as-of version 0.9.0-beta, closing.

[2018-02-13 00:41] #8 closed, assigned to nobody

[2018-02-13 00:42] #1 closed, assigned to ronhitchens

[2018-02-13 00:43] #9 closed, assigned to ronhitchens

[2018-02-13 00:46] ronhitchens opened #48 "Research alternative to com.codnos:dbgp-interfaces for driving debugger"
This code seems to be stale and not very configurable.  In particular, it does not allow for setting structured variable values in the response.

[2018-03-02 19:31] ronhitchens commented on #45
This was a side effect of the way the debugger works.  It forks out a separate JVM to run the code in debug mode.  It has to take steps to include any additional jars needed by the debugger connector in the external JVM.  This can lead to conflicts if the jars are also used in the project.  I tried filtering out jars that are already in the project, but couldn't get it to work reliably.  In v1.0,

[2018-03-02 19:38] ronhitchens commented on #31
This appears to be working now.  There may still be a lingering timing sensitive problem.

Closing.

[2018-03-02 19:38] #31 closed, assigned to nobody

[2018-03-02 19:40] ronhitchens commented on #30
The data source name has been renamed from "MarkLogic (native)" to "MarkLogic (XCC)".

[2018-03-02 19:44] ronhitchens commented on #27
In 1.0, this is smartened up a bit to only include separators when the result sequence contains more than one item.

[2018-03-02 19:52] ronhitchens commented on #24
This has been worked out in the debug connector.  At the start, the connector requests a stack frame which will induce an exception if there is something wrong that can be detected during static analysis.  If such a problem exists, it will hang hang the debug API on the MarkLogic side if requesting a stack frame after execution starts.

[2018-03-02 20:06] ronhitchens commented on #2
This is working, closing.

[2018-03-02 20:06] #2 closed, assigned to ronhitchens

[2018-03-02 20:08] ronhitchens commented on #24
ToDo: Report this to MarkLogic

[2018-03-02 20:09] ronhitchens commented on #39
ToDo: Report this to MarkLogic

[2018-03-02 20:11] ronhitchens commented on #12
This should ideally present the test results in the same structured format as produced for JUnit.

[2018-03-02 20:31] ronhitchens opened #49 "XQuery parser does not recognize node constructors as final step of an XPath"
Expressions like this result in a syntax error, even though they are valid XQuery 3.0:

/foo/bar/baz/element myelement { ./data() }

They can, however, be worked around by enclosing the node constructor in parenthesis:

/foo/bar/baz/(element myelement { ./data() })

[2018-03-02 20:34] ronhitchens opened #50 "Create Run Mode for "Grab Running Request""
From Issue #25:

Grab Running Request - This will require path mapping as for scenario 3, but also some new UI (and connector code) to list and select running requests. This scenario may be wind up being out of scope for the first release.

[2018-03-02 20:36] ronhitchens commented on #25
Create new Issue #50 for Scenario 4 above.  The other three modes are complete.

[2018-03-02 20:38] ronhitchens commented on #22
Depends on #29.

[2018-03-02 22:43] ronhitchens opened #51 "Travis cloud build is dying because output from IntelliJ testing library is too verbose"
All tests pass locally, but when run by Travis CI the build is killed because the size of the output exceeds 4MB.  This is apparently because the IntelliJ code that's driving parser tests is logging verbosely at DEBUG level.  Not sure at this point how to suppress the verbose log output, I don't know which logging framework it's using (possibly it's own internal one) or where to modify the config.

[2018-03-07 12:46] peetkes opened #52 "Version 1.0 is cannot be chosen and it will not install when I download the zip"
The latest version V1.0 is not selectable from the intelliJ plugin repository and it also does not install from the zip I downloaded.

[2018-03-07 14:00] ronhitchens commented on #52
That's odd.  Jetbrains sent me an email saying it had been approved and was ready to go.  Did you install it from the Plugins section inside IntelliJ?   Note that this version of the plugin requires and IntelliJ build of at least 173.3727.127.  It will refuse to load if your IDE is older than that.  Unfortunately I'm on the road right now and can't look into it for a couple of days.

If you contin

[2018-03-07 14:34] dmcassel commented on #52
Data point: IntelliJ just offered me the upgrade to V1, which it applied successfully. I'm using IntelliJ IDEA 2017.3.4 (Ultimate Edition), Build 173.4548.28.

[2018-03-08 07:07] peetkes commented on #52
I'm running IntelliJ IDEA 2017.2.6 and I am not able to install V1.0

IntelliJ IDEA 2017.2.6
Build #IC-172.4574.11, built on November 13, 2017
JRE: 1.8.0_152-release-915-b12 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 7 6.1

![intellij xquery plugin](https://user-images.githubusercontent.com/550788/37137918-3be6c860-22a8-11e8-9419-acead4ea4027.png)

[2018-03-08 07:14] peetkes commented on #52
And if I try building the zip myself I get:

[code]

and a load of similar errors.
Do I miss some dependencies?

[2018-03-08 10:46] peetkes commented on #52
Nevermind, I updated the IntelliJ to 2017.3.4 and it picked up the latest version of the plugin

[2018-03-08 10:46] peetkes commented on #52
Can close

[2018-03-08 10:46] #52 closed, assigned to nobody

[2018-03-08 14:07] peetkes opened #53 "Cannot build latest version on windows"
When I try to build the zip file by running

 gradlew build

I run into the following errors and some: (I am using Community edition 2017.3.4)

[code]

[2018-05-18 14:44] dmcassel commented on #24
@ronhitchens is this bug still present in ML9? Any other info to help reproduce? I'd be happy to file this internally for you.

[2018-05-29 09:00] shivling1254 opened #54 "Code Completion is not Available MarkLogic build in XQuery Functions"
I am trying to Write XQuery Function using this Plugin but i am not able to get the code completion for MarkLogic Built in XQuery Functions like cts search functions, admin functions etc.

[2018-06-05 13:09] lukasz1234567890 opened #55 "Debugger throws exception: "Cannot get property 'text' on null object""
Configured the plugin and MarkLogic to run queries however debugger throws exception:

[code]

[code]

[2018-06-13 04:31] #54 closed, assigned to nobody

[2018-08-27 18:33] #45 closed, assigned to ronhitchens

[2018-08-27 18:35] ronhitchens commented on #43
This was released in 1.0

[2018-08-27 18:35] #43 closed, assigned to nobody

[2018-08-27 18:35] #34 closed, assigned to ronhitchens

[2018-08-27 18:37] #19 closed, assigned to ronhitchens

[2018-08-27 18:56] ronhitchens commented on #55
Sorry to leave this so long without responding.  This exception "can't happen".  I indicates that the plugin was unable to read one of the XQuery files that are part of the debugger.  These files are bundled into the jar file and should always be present.  Are you using a copy of the plugin that you built yourself?  Installing the plugin from the JetBrains repository (from within IntelliJ itself)

[2018-09-29 09:21] rhdunn commented on #49
The `element "myelement" {...}` syntax is invalid, it should either be `element myelement {...}` or `element {"myelement"} {...}` as `CompElemConstructor` is defined as:

    "element" (EQName | ("{" Expr "}")) "{" ContentExpr? "}"

Reference: https://www.w3.org/TR/xquery-30/#prod-xquery30-CompElemConstructor (XQuery 3.0 EBNF [153]).

[2018-09-29 12:10] ronhitchens commented on #49
Yes, you're right.  I typed that in by hand.  I've edited the original.
Thanks.

[2018-10-30 20:58] sanderson-sfdc opened #56 "Constructed element with name document is flagged as error"
In the following code:

`declare function local:documentAsNCName() {
    let $example :=
        element document {
            "text in a an element named document"
        }
    return $example
};`

the plugin flags the element name document as an error, saying:

In this case, though, document is an NCName.

Document is not a reserved function name (see https://www.w3.org/TR/2017/REC-xquery-31-2

[2018-11-02 19:21] ronhitchens commented on #56
You are correct that "document" is not a reserved word in XQuery (very few are), but the XQuery parser used by this plugin is not 100% correct.  There are a few corner cases that are not handled correctly, including this one.  The parser comes from the project from which this project was forked (https://github.com/ligasgr/intellij-xquery).  Making corrections to the grammar requires more than a si

[2019-02-28 16:09] willsthompson opened #57 "Support implicitly declared variables within XQuery 3.1 catch clause"
See: https://www.w3.org/TR/xquery-31/#id-try-catch, ex:

    try {
        fn:error(xs:QName('my:error'))
    }
    catch * {
      xdmp:log(($err:code, $err:description, $err:value, $err:module, $err:line-number, $err:column-number, $err:additional))
    }

[2019-03-29 08:37] peetkes opened #58 "Ide does not recognize object-node definition with dynamic keys"
When I define an xquery function like this in the ide:
[code]
The ide flags the return `object-node { $type : $node }` as erroneous. It does not like the $type. I get below message for the $node parameter
[code]

[2019-05-22 11:44] Stefan-Geiss commented on #55
If this exception can't happen, why do i get this exception then? I did not change anything of the plugin. I selected it on the IntelliJ market, installed it, tried to run the debugger and boom...

[2019-05-30 14:00] dxmand commented on #55
Hey Ron, I just started using this plugin and I'm having the exact same issue. I downloaded the plugin from the marketplace and I'm using IntelliJ Community 2019.1. Any ideas?

[2019-05-30 14:43] ronhitchens commented on #55
I will look into it, but am extremely busy with my day job at the moment so it may be a while before I can get to it.  Since the plugin was released, IntelliJ has had several more releases and each release seems to break compatibility in one way or another.  There are some significant changes that have prevented me from building against the latest release of IntelliJ but until now the plugin has k

[2019-05-30 15:25] dxmand commented on #55
Thanks for the response. Is there a specific version of IntelliJ that I should try?

[2019-05-30 19:20] ronhitchens commented on #55
You'd have to go quite a way back.  The earliest version that the plugin will accept is 173.3727.127, but that's pretty old now.  I don't know what public version number that maps to, but you may not be able to find it anyway.  You probably don't want to give up the newer features.  I will do my best to get a new release out as soon as I can.

[2019-05-30 21:42] dxmand commented on #55
Sounds good. We've started using MarkLogic and this plugin looks like a great tool to help us with our XQuery development and troubleshooting.

[2019-12-15 22:17] ronhitchens opened #59 "Some parameters in some cmd-P tooltips are duplicated"
This appears to be because function definitions derived from the MarkLogic bundled docs are including both the XQuery as JSON definitions

[2019-12-24 03:17] ronhitchens commented on #59
This required better filtering of functions from the docs zip file.  This has been re-done and the parameters look correct now, along with some other minor fixes.

[2019-12-24 03:19] ronhitchens opened #60 "Eliminate references to AllIcon in the JetBrains SDK, per their notice"

[2020-01-01 04:28] ronhitchens commented on #57
This is done.  Added special case to the resolver for references to these variables when they appear under a catch clause.

[2020-01-01 04:33] ronhitchens commented on #60
This turned out to be only one image reference that is deprecated, the others are all fine.  Replaced that reference with private images.

[2020-02-19 09:18] mnuman opened #61 "Stack trace on File > Settings > Lanugages & Frameworks > XQuery"
We have just installed version 1.1 of the MarkLogic IntelliJ Plugin using the following setup:

IntelliJ IDEA 2019.3.3 (Community Edition)
Build #IC-193.6494.35, built on February 11, 2020
Runtime version: 11.0.5+10-b520.38 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0
GC: ParNew, ConcurrentMarkSweep
Memory: 2014M
Cores: 4
Registry: ide.balloon.shadow.size=0
Non-Bundled Plu

[2020-02-19 18:57] ronhitchens commented on #60
This has been resolved in release 1.1 and verified by JetBrain's plugin verifier

[2020-02-19 18:57] #60 closed, assigned to ronhitchens

[2020-02-19 18:59] ronhitchens commented on #59
This fix has been deployed in release 1.1.  This also includes properly denoting optional parameters.

[2020-02-19 18:59] #59 closed, assigned to ronhitchens

[2020-02-19 19:00] ronhitchens commented on #57
This is deployed in release 1.1.

[2020-02-19 19:00] #57 closed, assigned to nobody

[2020-02-19 19:09] ronhitchens commented on #55
In version 1.1 of the plugin, I added a few checks to avoid a null pointer exception.  It is still inexplicable that the NPE occurred in the first place.  I would be interested to know if you still experience this problem with 1.1.  If so, any details about your runtime environment would be appreciated.

[2020-02-19 19:12] ronhitchens commented on #51
As of the 1.1 release, TravisCI is still broken, but now apparently due to some other config issue.

[2020-02-19 19:13] ronhitchens commented on #27
This is unchanged in 1.1

[2020-02-19 19:36] ronhitchens commented on #61
Thank you for reporting this bug.  I have confirmed that it looks like there is a problem with this Preferences panel.  I will look into as soon as I can and will update the status here.

[2020-02-19 19:42] ronhitchens commented on #46
I have had reports similar to this from other people but have never been able to reproduce it myself.  I would be interested to know if this persists with Version 1.1 of the plugin and the most recent version of IntelliJ.

[2020-02-20 09:44] ronhitchens commented on #61
This was caused by a missing namespace definition for ort: which was a recent addition by MarkLogic.  The builtin function definitions are generated from MarkLogic's documentation XML and this new namespace was not added to the builtin namespaces list (which is not auto-generated).

This has been fixed and submitted to JetBrains.  It should appear as version 1.1.1 within about 48 hours.

[2020-02-20 11:04] mnuman commented on #61
Hi Ron,
Thanks for the quick resolution, will test as soon as I see the new plugin appearing!
Regards,
Milco

[2020-02-20 11:42] mnuman commented on #61
Hi Ron,

Thanks again! Version 1.1.1 has been published and I downloaded it, the issue is now resolved!
Regards,
Milco

[2020-02-20 11:42] #61 closed, assigned to ronhitchens

[2020-06-26 10:01] jkerr5 opened #62 "Add support for SSL"
Is it possible to use this plugin against a MarkLogic app server with SSL and BASIC authentication configured?

[2020-10-16 12:09] markschiffner opened #63 "Plugin freezes frequently on code completion"
I am seeing repetitive hanging/freezing on ItelliJ Ultimate 2020.2 using version 1.1.1 of the plugin.
This is making Intellij with the plugin almost unusable (url)

"ApplicationImpl pooled thread 6" prio=0 tid=0x0 nid=0x0 runnable
     java.lang.Thread.State: RUNNABLE

    at java.base@11.0.8/java.util.regex.Pattern.RemoveQEQuoting(Pattern.java:1731)
    at java.base@11.0.8/java.util.regex.Pattern

[2020-10-16 12:10] markschiffner commented on #63
[threadDump-20200912-145512.txt](https://github.com/overstory/marklogic-intellij-plugin/files/5391407/threadDump-20200912-145512.txt)
[threadDump-20200912-145517.txt](https://github.com/overstory/marklogic-intellij-plugin/files/5391409/threadDump-20200912-145517.txt)

[2021-01-29 07:50] scheriam opened #64 "NPE on running code analyser"
In a big project I regularly get a NullPointerException after some time of analyzing MarkLogic XQuery code:

[code]

Unfortunately I cannot disclose the source file that is mentioned in the exception message, just can give a few facts about it:
- (too) big (~1700 LOC)
- module, imports 12 other modules. Some of them with an absolute path, some with a relative path.
- the other modules import again

[2022-01-24 18:44] scheriam opened #65 "PluginException about use of deprecated default impl - repeated frequently even in projects without any XQuery code."
com.intellij.diagnostic.PluginException: The default implementation of method 'getId' is deprecated, you need to override it in 'class org.intellij.xquery.runner.XQueryRunConfigurationFactory'. The default implementation delegates to 'getName' which may be localized, but return value of this method must not depend on current localization.

This is shown by IDEA frequently.

[2022-01-24 18:57] scheriam commented on #65
happens in IDEA Ultimate 2021.3.1

[2022-05-03 08:27] peetkes commented on #65
It still happens in IDEA Ultimate 2022.1 Build #IU-221.5080.210, built on April 12, 2022
Runtime version: 11.0.14.1+1-b2043.25 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.

Is this ever going to be picked up?

[2022-05-03 19:28] scheriam commented on #65
I've got good and bad news, @peetkes: I developed a fix for this and you can see it in my repo [scheriam/intellij-xquery](https://github.com/scheriam/intellij-xquery), but I only got it in branches and did not merge them yet.
The bad news is that I recently asked the maintainer of this repo (Ron Hitchens) how to best provide my fix (as the readme requests to mail before participating), but did not

[2022-05-03 19:40] ronhitchens commented on #65
Hi.  I am still around, but have not been able to give this project much attention lately.  My work situation has changed in the last couple of years and I'm not currently actively involved in the MarkLogic world.

I am aware that there are a few outstanding issues with the plugin.  I will attempt to address them in the next few weeks, but I have a lot on my plate right now.  @scheriam if you can